<section class="main">
  <div class="upper-section">
    <div class="qomander">
      <img class="qomander__logo" src="./assets/images/logo/download.png" alt="qomander"/>
      <h1 class="qomander__title">Saifi Cafe</h1>
    </div>
    <h1 class="heading">What will you be eating today?</h1>
  </div>

  <div class="bottom-section">
    <div class="order-type">
      <div class="block" routerLink="/menu">
        <img class="picture" src="./assets/images/icons/eat-in.png" alt="eat in" />
        <p class="title">Check out our menu</p>
      </div>
    </div>
  </div>
</section>
